@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    color: green;
    background-color: aqua;
    /* font-family: 'Bungee Spice', sans-serif; */
  }
  main {
    font-family: 'Bungee Spice', sans-serif;
  }
  ol{
    @apply text-white;
    @apply bg-red-300;
  }
  li{
    @apply text-red-50;
    @apply bg-gray-500;
    font-size: 50px;
    font-weight: 900;
  }

  h2{
    @apply text-red-700 font-mono font-bold underline border-spacing-1;
    background-color: red;
  }
  a {
    @apply grid grid-cols-3 hover:text-yellow-200 underline;
  }
}